<html>
  <head>
    <title>DSPL 2 Viewer</title>
    <link rel="stylesheet" href="static/viewer.css">
  </head>
  <body>
    <h1>DSPL 2 Viewer</h1>
    <h2>Dataset</h2>
    <form action="/render">
      <input type="text" name="url">
      <input type="submit" name="submit" formmethod="get" value="Fetch URL">
      <br>
      <input type="file" name="files[]" multiple>
      <input type="submit" name="submit" formmethod="post" formenctype="multipart/form-data" value="Upload Files">
      <br>
      <input type="checkbox" name="rdf">Process as RDF (slow)</input>
    </form>
  </body>
</html>
