{% from 'render.html' import render %}
<html>
  <head>
    <title>DSPL 2 Viewer</title>
    <style>
      {% include 'viewer.css' %}
    </style>
  </head>
  <body>
    <h1>DSPL 2 Viewer</h1>
    <h2 class="active">Dataset</h2>
    <h2>Dimensions</h2>
    <h2>Measures</h2>
    <h2>Footnotes</h2>
    <h2>Slices</h2>
    <div id="dataset">
      {{render(dataset)}}
    </div>
    <div id="dimensions" class="hidden">
      <table>
        <tr>
          <td>dimensions</td>
          <td>{{ render(dimension) }}</td>
        </tr>
      </table>
    </div>
    <div id="measures" class="hidden">
      <table>
        <tr>
          <td>measures</td>
          <td>{{ render(measure) }}</td>
        </tr>
      </table>
    </div>
    {% if footnote %}
    <div id="footnotes" class="hidden">
      <table>
        <tr>
          <td>footnotes</td>
          <td>{{ render(footnote) }}</td>
        </tr>
      </table>
    </div>
    {% endif %}
    <div id="slices" class="hidden">
      <table>
        <tr>
          <td>slices</td>
          <td>{{ render(slice) }}</td>
        </tr>
      </table>
    </div>

    <!-- Footer -->
    <script>
      {% include 'viewer.js' %}
    </script>
  </body>
</html>
