body {
  font-family: sans-serif;
}

h2 {
  display: inline-block;
  padding: 1ex;
  border: 1px solid;
  margin: 0px;
}

h2.active {
  background-color: yellow;
  box-shadow: 2px 2px gray;
}

table {
  border-collapse: collapse;
  background-color: white;
  width: 100%
}

table,th,td {
  border: 1px solid;
}

td {
  vertical-align: top;
}

tr:nth-child(even) {background-color: #f2f2f2;}

td:first-child {
  width:10%;
}

.hidden {
  display: none;
}

td:first-child.closed::before {
  content: "▶️";
  color: red;
}
td:first-child.open::before {
  content: "🔻";
  color: red;}
}
