h1,h2,h3,h4 {
  font-family: sans-serif;
  color: #0088FF;
}
table {
  margin: 30px;
  background-color: #CCFFFF;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
}
pre {
  border: 1px solid black;
  margin: 30px;
  padding: 5px;
  background-color: #FFFFCC;
}
